# Patent Information
PATN:
  <entity>: patent
  <fields>:
    <primary_key>: WKU
    <filename_field>: source_file
    WKU: document_number
    SRC: series_code
    APN: application_number
    APT: application_type
    PBL: publication_level
    ART: art_unit
    APD: filing_date
    TTL: title
    ISD: issue_date
    NCL: number_of_claims
    ECL: exemplary_claim_number
    EXA: assistant_examiner
    EXP: primary_examiner
    NDR: number_of_drawing_sheets
    NFG: number_of_figures
    DCD: disclaimer_date
    NPS: number_of_specification_pages
    TRM: term_of_patent


# Inventor information
INVT:
  <entity>: inventor
  <fields>:
    NAM: name
    STR: street_address
    CTY: city
    STA: state
    CNT: country
    ZIP: zip_code
    R47: rule_47
    ITX: descriptive_text


# Assignee information
ASSG:
  <entity>: assignee
  <fields>:
    NAM: name
    CTY: city
    STA: state
    CNT: country
    ZIP: zip_code
    COD: type_code
    ITX: descriptive_text


# Foreign priority information
PRIR:
  <entity>: foreign_filing
  <fields>:
    CNT: country
    APD: filing_date
    APN: application_number


# Reissue information
REIS:
  <entity>: reissue
  <fields>:
    COD: code
    APN: application_number
    APD: filing_date
    PNO: patent_number
    ISD: issue_date


# US related applications
RLAP:
  <entity>: related_document
  <fields>:
    COD: code
    APN: application_number
    APD: filing_date
    PSC: parent_status
    PNO: patent_number
    ISD: issue_date


CLAS:
  <entity>: classification
  <fields>:
    OCL: us
    XCL:
      <fieldname>: us_secondary
      <joiner>: "|#|"
    UCL:
      <fieldname>: unofficial
      <joiner>: "|#|"
    DCL:
      <fieldname>: digest
      <joiner>: "|#|"
    EDF: international_edition
    ICL:
      <fieldname>: international_classification
      <joiner>: "|#|"
    FSI:
      <fieldname>: international_classification
      <joiner>: "|#|"
    FSC:
      <fieldname>: field_of_search
      <joiner>: "|#|"
    FSS:
      <fieldname>: field_of_search_subclass
      <joiner>: "|#|"


# References to US patents
UREF:
  <entity>: citation
  <fields>:
    <constant>:
      - <fieldname>: citation_type
        <enum_type>: us
    PNO: patent_number
    ISD: issue_date
    NAM: patentee_name
    OCL: original_us_classification
    XCL: us_cross_reference
    UCL: us_unofficial_reference


# References to foreign patents
FREF:
  <entity>: citation
  <fields>:
    <constant>:
      - <fieldname>: citation_type
        <enum_type>: foreign
    PNO: patent_number
    ISD: issue_date
    CNT: country
    OCL: original_us_classification
    ICL: international_classification


# Reference to other documents
OREF:
  <entity>: citation
  <fields>:
    <constant>:
      - <fieldname>: citation_type
        <enum_type>: other
    "PA[A-Z1-9]":
      <fieldname>: other_citation
      <joiner>: "|#|"


# Legal information
LREF:
  <entity>: legal
  <fields>:
    FRM: law_firm
    FR2:
      <fieldname>: principal_attorney
      <joiner>: "|#|"
    AAT: associate_attorney
    AGT: agent
    ATT: attorney
    REG: registration_number
    NAM: legal_representative
    STR: representative_address
    CTY: representative_city
    STA: representative_state
    CNT: representative_country
    ZIP: representative_zip


# Patent Cooperation Treaty information
PCTA:
  <entity>: patent_cooperation_treaty
  <fields>:
    PCN: pct_number
    PD1: pct_371_date
    PD2: pct_102e_date
    PD3: filing_date
    PCP: publication_number
    PCD: publication_date


# Abstract
ABST:
  <entity>: abstract
  <fields>:
    "PA[A-Z1-9]":
      <fieldname>: abs_text
      <joiner>: "\n"


# Government interest
GOVT:
  <entity>: government_interest
  <fields>:
    "PA[0-9A-Z]":
      <fieldname>: interest_statement
      <joiner>: "\n"


# Parent case
PARN:
  <entity>: parent_case_text
  <fields>:
    "PA[0-9A-Z]":
      <fieldname>: parent_statement
      <joiner>: "\n"


# Brief summary
BSUM:
  <entity>: brief_summary
  <fields>:
    "PA[0-9A-Z]":
      <fieldname>: background
      <joiner>: "\n"


# Drawing description
DRWD:
  <entity>: drawing
  <fields>:
    "PA[0-9A-Z]":
      <fieldname>: background
      <joiner>: "\n"


# Detailed description
DETD:
  <entity>: detailed_description
  <fields>:
    "PA[0-9A-Z]":
      <fieldname>: background
      <joiner>: "\n"


# Claim information
CLMS:
  <entity>: claim
  <fields>:
    # Concatenate all sequential sections starting with PA
    "PA[A-Z1-9]":
      <fieldname>: claim_text
      <joiner>: "\n"
      <splitter>: "NUM"


# Design claim
DCLM:
  <entity>: claim
  <fields>:
    "PA[A-Z1-9]":
      <fieldname>: claim_text
      <joiner>: "\n"













